{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />


<title> polls</title> 
<h1>POLLS</h1>

<body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>

<footer>
 <p>© All rights reserved by ore</p>
 <p><a href="/dentak">目次</a></p>
 </footer>