{% load static %}

<html>
<head>
<title>インデックス</title>
</head>
<body>
<h1>作ったアプリ</h1>
<ul>
    <li><font size="5"><a href="dentak">電卓</a></font>
    <div>電卓。演算子を連続で入れて計算するとエラー出ます。</div><br>
    <li><font size="5"><a href="BMI">BMI計算機</a></font>
    <div>BMIを計算するだけ。男女とか年齢とか関係ないらしい</div><br>
    <li><font size="5"><a href="kitaichi">ガチャ期待値</a></font>
    <div>ガチャが沼ったときにこんだけ当たらないってどんな確率なんだと思って作った。</div><br>
    <li><font size="5"><a href="handlar1">handlar1</a></font>
    <div>ハンドラのチュートリアル</div><br>
    <li><font size="5"><a href="shinkei">神経衰弱</a></font>
    <div>１～１３までのカードが４枚ずつ計５２枚の神経衰弱。
    <br>参考にしたサイトhttps://javascript.step-learn.com/contents/S004-trump-game.html</div><br>
    <li><font size="5"><a href="Oekaki">お絵描き</a></font>
    <div>クリック＆ドラッグで線を引くことができる。
    <br>下に線の色や太さを変えるボタンがある。</div><br>
    <li><font size="5"><a href="Osero">オセロ</a></font>
    <div>敵が弱いオセロ。参考にした本「ゲームで学ぶJavaScript入門」</div><br>
    <li><font size="5"><a href="Tiny2D">ブロック崩し</a></font>
    <div>ブロックを崩すだけ。参考にした本「ゲームで学ぶJavaScript入門」</div><br>
 </ul>
 <footer>
 <p>© All rights reserved by ore</p>
 </footer>
</body>
</html>