{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dentak/shinkei.css' %}" />
<script src="{% static 'dentak/shinkei.js' %}"></script>

<html>
<head>
<title>神経衰弱</title>
</head>
<body onselectstart="return false;">
<h1>神経衰弱</h1>
<div >
    <table id="deck">
        <tr>
            <td class="card back" id="0"></td>
            <td class="card back" id="1"></td>
            <td class="card back" id="2"></td>
            <td class="card back" id="3"></td>
            <td class="card back" id="4"></td>
            <td class="card back" id="5"></td>
            <td class="card back" id="6"></td>
            <td class="card back" id="7"></td>
            <td class="card back" id="8"></td>
            <td class="card back" id="9"></td>
            <td class="card back" id="10"></td>
            <td class="card back" id="11"></td>
            <td class="card back" id="12"></td>
        </tr>
        <tr>
            <td class="card back" id="13"></td>
            <td class="card back" id="14"></td>
            <td class="card back" id="15"></td>
            <td class="card back" id="16"></td>
            <td class="card back" id="17"></td>
            <td class="card back" id="18"></td>
            <td class="card back" id="19"></td>
            <td class="card back" id="20"></td>
            <td class="card back" id="21"></td>
            <td class="card back" id="22"></td>
            <td class="card back" id="23"></td>
            <td class="card back" id="24"></td>
            <td class="card back" id="25"></td>
        </tr>
        <tr>
            <td class="card back" id="26"></td>
            <td class="card back" id="27"></td>
            <td class="card back" id="28"></td>
            <td class="card back" id="29"></td>
            <td class="card back" id="30"></td>
            <td class="card back" id="31"></td>
            <td class="card back" id="32"></td>
            <td class="card back" id="33"></td>
            <td class="card back" id="34"></td>
            <td class="card back" id="35"></td>
            <td class="card back" id="36"></td>
            <td class="card back" id="37"></td>
            <td class="card back" id="38"></td>
        </tr>
        <tr>
            <td class="card back" id="39"></td>
            <td class="card back" id="40"></td>
            <td class="card back" id="41"></td>
            <td class="card back" id="42"></td>
            <td class="card back" id="43"></td>
            <td class="card back" id="44"></td>
            <td class="card back" id="45"></td>
            <td class="card back" id="46"></td>
            <td class="card back" id="47"></td>
            <td class="card back" id="48"></td>
            <td class="card back" id="49"></td>
            <td class="card back" id="50"></td>
            <td class="card back" id="51"></td>
        </tr>
    </table>
<div id="debug"></div>
<div id="debug2"></div>
</div>
<br><a href=".">もう一度</a>
</body>

<footer>
 <p>© All rights reserved by ore</p>
 <p><a href="/dentak">目次</a></p>
 </footer>

</html>