{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dentak/Tiny2D.css' %}">
<html>
<head>
<title>Tiny2D</title>

<script src="{% static 'dentak/Tiny2D.js' %}"></script>
<script src="{% static 'dentak/demo2.js' %}"></script>
</head>
<body onload="init()">
<h1>単純なブロック崩し</h1>
<canvas id="canvas" width="800" height="800"></canvas>
<h1>
<div id="messe"></div>
</h1>
</body>
<footer>
 <p>© All rights reserved by ore</p>
 <p><a href="/dentak">目次</a></p>
 </footer>
</body>
</html>